<!DOCTYPE html>
<html lang="en" ng-app="mongoPlaces" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Mongo Places</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--Styles-->
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="lib/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="lib/html5-boilerplate/dist/css/main.css">
    <link rel="stylesheet" href="app/app.css">
    <!--END Styles-->

    <script src="lib/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>

<!-- Top Navigation-->
<div ng-include="'app/partials/topNav.html'"></div>
<!-- END TOP NAVIGATION -->

<div style="padding-top: 70px">
    <div ng-controller="MapController" class="col-md-7">

        <div id="map" ng-show="viewMap" style="height:645px"></div>
        <div ng-show="!viewMap" pois-list></div>
        <button class="btn btn-default" ng-click="changeView()">Change the view</button>
    </div>

    <div ui-view class="container slide col-md-4 col-md-offset-1"></div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDoamLIoUZ1Ejx1Xuz_qcYzD2Te4S-S3a0"></script>

<!-- Libraries -->
<script src="lib/jquery/dist/jquery.js"></script>
<script src="lib/bootstrap/dist/js/bootstrap.js"></script>
<script src="lib/angular/angular.js"></script>
<script src="lib/angular-animate/angular-animate.js"></script>
<script src="lib/angular-loader/angular-loader.js"></script>
<script src="lib/angular-resource/angular-resource.js"></script>
<script src="lib/angular-ui-router/release/angular-ui-router.js"></script>
<script src="lib/angularjs-geolocation/dist/angularjs-geolocation.min.js"></script>
<script src="lib/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<!-- END Libraries -->

<script src="app/app.js"></script>
<script src="app/services.js"></script>
<script src="app/directives.js"></script>
<script src="app/gmapsSvc.js"></script>
<script src="app/resources.js"></script>
<script src="app/pages/login/login.js"></script>
<script src="app/pages/home/home.js"></script>
<script src="app/pages/users/users.js"></script>
<script src="app/pages/pois/pois.js"></script>
</body>
</html>
