<div class="form-group">
    <label for="name" class="control-label"> Name:</label>
    <input type="text" class="form-control" ng-model="searchForm.name" id="name">
</div>
<div class="form-group">
    <label for="coord" class="control-label"> Coordinates:</label>
    <input type="text" class="form-control" ng-model="searchForm.coordinates[0]" id="coord" placeholder="Longitude">
    <input type="text" class="form-control" ng-model="searchForm.coordinates[1]" placeholder="Latitude">
</div>
<div class="form-group">
    <label for="type" class="control-label"> Type:</label>
    <input type="text" class="form-control" ng-model="searchForm.type" id="type">
</div>
<div class="form-group">
    <label for="wt" class="control-label"> WorkTime:</label>
    <input type="text" class="form-control" ng-model="searchForm.workTime[0]" id="wt">
    <input type="text" class="form-control" ng-model="searchForm.workTime[1]">
</div>

<div class="form-group">
    <label class="control-label" for="near"> Near:</label>
    <input type="number" class="form-control" ng-model="searchForm.nearInKm" id="near">
</div>

<button class="btn btn-default" ng-click="getPois()">Search</button>
<a class="pull-right" ui-sref="pois.add()">Add</a>