<div>
    <label> Name:
        <input type="text" ng-model="poi.name">
    </label>
</div>
<div>
    <label> Coordinates:
        <input type="text" ng-model="poi.coordinates[0]">
        <input type="text" ng-model="poi.coordinates[1]">
    </label>
</div>
<div>
    <label> Type:
        <input type="text" ng-model="poi.type">
    </label>
</div>
<div>
    <label> Description:
        <input type="text" ng-model="poi.description">
    </label>
</div>
<div>
    <label> WorkTime:
        <input type="text" ng-model="poi.workTime[0]">
        <input type="text" ng-model="poi.workTime[1]">
    </label>
</div>
<div>
    <label> Price Category:
        <input type="text" ng-model="poi.priceCategory[0]">
        <input type="text" ng-model="poi.priceCategory[1]">
    </label>
</div>

<button class="btn btn-default" ng-click="add()">Save</button>