<div>
    <label> Boxer1:
        <span>{{match.Boxer1}}</span>
    </label>
</div>
<div>
    <label> Boxer2:
        <span>{{match.Boxer2}}</span>
    </label>
</div>
<div>
    <label> Place:
        <span>{{match.Place}}</span>
    </label>
</div>
<div>
    <label> DateOfMatch:
        <span>{{match.DateOfMatch}}</span>
    </label>
</div>
<div>
    <label> Dsecription:
        <span>{{match.Dsecription}}</span>
    </label>
</div>
<div>
    <label> Winner:
        <span>{{match.Winner}}</span>
    </label>
</div>


<button class="btn btn-default" ui-sref="matches.edit({id:match.Id})">Edit</button>

<button class="btn btn-default" ng-click="removeMatch()">Remove</button>

<button class="btn btn-default" ng-click="addPrediction()"
        ng-disabled="match.CurrentPrediction.Id && match.CurrentPrediction.Winner">Add Prediction
</button>
<button class="btn btn-default" ng-click="editPrediction()">Edit Prediction</button>
<button class="btn btn-default" ng-click="deletePrediction()">Delete Prediction</button>

<button class="btn btn-default" ui-sref="matches.updateWinner({id:match.Id})">Update Winner</button>

<div ng-if="match.CurrentPrediction.IsClosedMatch != true">
    <label> Boxer1:
        <input type="radio" ng-model="match.CurrentPrediction.Winner" value="1">
    </label>
    <label> Boxer 2:
        <input type="radio" ng-model="match.CurrentPrediction.Winner" value="2">
    </label>
</div>
<div ng-if="match.CurrentPrediction.IsClosedMatch == true">
    <label> Boxer1:
        <input type="radio" ng-model="match.CurrentPrediction.Winner" value="1">
    </label>
    <label> Boxer 2:
        <input type="radio" ng-model="match.CurrentPrediction.Winner" value="2">
    </label>
</div>