<div>
    <label> Boxer1:
        <input type="text" ng-model="match.Boxer1">
    </label>
</div>
<div>
    <label> Boxer2:
        <input type="text" ng-model="match.Boxer2">
    </label>
</div>
<div>
    <label> Place:
        <input type="text" ng-model="match.Place">
    </label>
</div>
<div>
    <label> DateOfMatch:
        <input type="text" ng-model="match.DateOfMatch">
    </label>
</div>
<div>
    <label> Dsecription:
        <input type="text" ng-model="match.Dsecription">
    </label>
</div>

<button class="btn btn-default" ng-click="add()">Save</button>